{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

{% for message in get_flashed_messages() %}
  <div class="notice" style= "background-color: yellow;
    color: black;">Note: {{ message }}</div>
{% endfor %}

<div class="row">
    <div class="column">
<div class="form-wrapper">
<form method="POST" action="">
    <fieldset>
        <legend>Add Bet Slip</legend>
        <label for="user_id">User </label>
        <select name="user_id" id="user_id">
            {% for user in users %}
                <option value="{{ user[0] }}">{{user[1]}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="game_id">Game </label>
        <select name="game_id" id="game_id">
            {% for game in games %}
                <option value="{{ game[0] }}">{{ game[1] }} vs. {{ game[2] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="bet_type">Bet Type </label>
        <select name="bet_type" id="bet_type">
            <option value="TEAM_A_MONEY_LINE">Team A Money Line</option>
            <option value="TEAM_B_MONEY_LINE">Team B Money Line</option>
            <option value="TEAM_A_SPREAD">Team A Spread</option>
            <option value="TEAM_B_SPREAD">Team B Spread</option>
            <option value="OVER">Over</option>
            <option value="UNDER">Under</option>
        </select>
        <br>
        Wager <input type="number" name="wager" />
        <br>

        <input type="submit" class="button">
    </fieldset>
</form>
</div>




<div class="form-wrapper">
<form method="POST" action="/remove_bet_slip">
    <fieldset>
        <legend>Remove Bet Slip</legend>
        <label for="slip_id">Slip ID </label>
        <select name="slip_id" id="slip_id">
            {% for betSlip in betSlips %}
                <option value="{{ betSlip[0] }}">{{betSlip[0]}}</option>
            {% endfor %}
        </select>
        <input type="submit" class="button">
    </fieldset>
</form>
</div>
</div>
<br>
<div class = "column">
<div id="table-wrapper">
<table border = 1>
    <legend>Bet Slips</legend>
    <tr>
        <th>Game</th>
        <th>Slip ID</th>
        <th>User ID</th>
        <th>Wager</th>
        <th>Bet Type</th> 
        <th>Bet Won</th> 
        <th>Payout Status</th>
        
    </tr>
    {% for betSlip in betSlips %}
        <tr>
            <td> {{ betSlip[5] }} vs {{ betSlip[6] }} </td> <!--- game --->
            <td> {{ betSlip[0] }} </td> <!--- slip_id--->
            <td> {{ betSlip[7] }} </td> <!--- user_id --->
            <td> {{ betSlip[1] }} </td> <!--- wager --->
            <td> {{ betSlip[2] }} </td> <!--- bet_type --->
            <td> {{ betSlip[3] }} </td> <!--- bet_won --->
            <td> {{ betSlip[4] }} </td> <!--- payout_Status --->
            <!--- <td> {{ betSlip[5] }} </td>  parlay_id --->
        </tr>
    {% endfor %}
</div>
</div>
{% endblock %}