{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<br>
<div class="form-wrapper">
<form method="POST" action="">
    <fieldset>
        <legend>Add Game</legend>
        Team A <input type="text" name="team_a" />
        <br>
        Team B <input type="text" name="team_b" />
        <br>
        
        Spread <input type="number" name="spread" />
        <br>
        <input type="submit" class="button">
    </fieldset>
</form>
</div>
<br>
<div class="form-wrapper">
<form method="POST" action="">
    <fieldset>
        <legend>Update Game</legend>
        <label for="game">Game </label>
        <select name="game" id="game">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <br>
        Spread <input type="number" name="spread" />
        <br>
        <input type="submit" class="button">
    </fieldset>
</form>
</div>
<br>
<div id="table-wrapper">
<table border = 1>
    <legend>Games</legend>
    <tr>
        <th>Team A</th>
        <th>Team A Odds</th>
        <th>Team B</th>
        <th>Team B Odds</th>
        <th>Spread</th>
        <th>Over / Under</th>
    </tr>
    {% for game in games %}
    <tr>
        <td> {{ game[0] }} </td>
        <td> {{ game[1] }} </td>
        <td> {{ game[2] }} </td>
        <td> {{ game[3] }} </td>
        <td> {{ game[4] }} </td>
        <td> {{ game[5] }} </td>
    </tr>
    {% endfor %}
</div>
{% endblock %}