{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="column">
<div class="form-wrapper">
<form method="POST" action="">
    <fieldset>
        <legend>Add Game</legend>
        Team A (away) <input type="text" name="team_a" />
        <br>
        Team B (home)<input type="text" name="team_b" />
        <br>
        Spread (enter value for home team, i.e. home team is 3 point underdogs, enter -3<input type="number" name="spread" />
        <br>
        Team A odds <input type="number" name="team_a_odds" />
        <br>
        Team B odds <input type="number" name="team_b_odds" />
        <br>
        Over/Under <input type="number" name="over_under_line" />
        <br>
        <input type="submit" class="button">
    </fieldset>
</form>
</div>
<br>
<div class="form-wrapper">
<form method="POST" action="">
    <fieldset>
        <legend>Update Game Result</legend>
        <label for="game">Game </label>
        <select name="game" id="game">
            {% for game in games %}
                <option value="{{ game[6] }}">{{ game[0]}} vs. {{ game[2] }}</option>
            {% endfor %}
        </select>
        <br>
        Result (Put Team B (home team) margin. Example: Home team wins by 3, enter 3) <input type="number" name="margin" />
        <br>
        <input type="submit" class="button">
    </fieldset>
</form>
</div></div>

<div class = "column">
{% for game in games %}
    <div id="table-wrapper">
    <table border = 1>
        <legend>{{ game[0]}} vs. {{ game[2] }} (GameID: {{game[6]}})</legend>
        <tr>
            <th></th>
            <th>Spread</th>
            <th>Money Line</th>
            <th>Over/Under</th> 
            <th>Margin</th>
        </tr>
        <tr>
            <td> {{ game[0] }} </td> <!--- Team A (away team)--->
            <td> - {{ game[4] }} </td> <!--- Team A -Spread (spread is default for home team)--->
            <td> {{ game[1] }} </td> <!--- Team A Moneyline to Win--->
            <td> Over {{ game[5] }} </td> <!--- Over --->
        </tr>
        <tr>
            <td> {{ game[2] }} </td> <!--- Team B (home team)--->
            <td> {{ game[4] }} </td> <!--- Team B -Spread (spread is default for home team)--->
            <td> {{ game[3] }} </td> <!--- Team B Moneyline to Win--->
            <td> Under {{ game[5] }} </td> <!--- Under --->
            <td>{{ game[7] }}</td>
        </tr>
    </table>
{% endfor %}
</div>
</div></div>
{% endblock %}