{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
<br>
<div class="form-wrapper">
<form method="POST" action="">
    <fieldset>
        <legend>Add User</legend>
        Username <input type="text" name="username" />
        <br>
        Balance <input type="number" name="balance" />
        <br>
        <input type="submit" class="button">
    </fieldset>
</form>
</div>
<br>
<div class="form-wrapper">
<form method="POST" action="">
    <fieldset>
        <legend>Delete User</legend>
        <select name="username_delete" id="username_delete">
            {% for user in userDetails %}
                <option value="{{ user[1] }}">{{user[1]}}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" class="button">
    </fieldset>
</form>
</div>
<br>
<div class="form-wrapper">
<form method="POST" action="">
    <fieldset>
        <legend>Adjust Balance</legend>
        <select name="username_adjustment" id="username_adjustment">
            {% for user in userDetails %}
                <option value="{{ user[1] }}">{{user[1]}}</option>
            {% endfor %}
        </select>
        <br>
        Balance Adjustment Value <input type="number" name="balance_adjustment">
        <input type="submit" class="button">
    </fieldset>
</form>
</div>
<br>


<br>
<div id="table-wrapper">
<table border = 1>
    <legend>Users</legend>
    <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Balance</th> 
    </tr>
    {% for user in userDetails %}
    <tr>
        <td> {{ user[0] }} </td>
        <td> {{ user[1] }} </td>
        <td> {{ user[2] }} </td>
    </tr>
    {% endfor %}
</div>
{% endblock %}