{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
<br>
<div class="form-wrapper">
<form method="POST" action="">
    <fieldset>
        <legend>Add User</legend>
        Username <input type="text" name="username" />
        <br>
        Balance <input type="number" name="balance" />
        <br>
        <input type="submit" class="button">
    </fieldset>
</form>
</div>
<br>
<div class="form-wrapper">
<form method="POST" action="">
    <fieldset>
        <legend>Delete User</legend>
        <select name="user" id="user">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <br>
        <input type="submit" class="button">
    </fieldset>
</form>
</div>
<br>
<div class="form-wrapper">
<form method="POST" action="">
    <fieldset>
        <legend>Adjust Balance</legend>
        <select name="user" id="user">
            {% for user in userDetails %}
                <option value="{{ user[0] }}">{{user[0]}}</option>
            {% endfor %}
        </select>
        <br>
        Balance Adjustment Value<input type="text" name="balance_adjustment">
        <input type="submit" class="button">
    </fieldset>
</form>
</div>
<br>


<br>
<div id="table-wrapper">
<table border = 1>
    <legend>Users</legend>
    <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Balance</th> 
    </tr>
    {% for user in userDetails %}
    <tr>
        <td> {{ user[0] }} </td>
        <td> {{ user[1] }} </td>
        <td> {{ user[2] }} </td>
    </tr>
    {% endfor %}
</div>
{% endblock %}